.body{

  background-color: white;
  color: black;

}



.formulario{

  border: 1px solid rgb(2, 87, 30);

  margin: 5px;

 

}



.formularioSerie{

  background-color: #ccf8ee;

  border: 1px solid rgb(2, 87, 30);

  margin: 5px;

}



.inputBuscar{

  border-radius: 10px;

  border: 2px solid #1AAB8A

}



.botones{

margin: 10px;

background:#1AAB8A;

color:#fff;

height: 40px;

padding: 0.2em;

cursor: pointer;

border-radius: 5px;

}



.botones:hover{

  background:#fff;

  color:#1AAB8A;

}



.actualizarSerie{

  background-color: gray;

}



/*npm install @mui/icons-material*/

.table{
  font-size: 23px;
  table-layout: fixed;
  border-collapse: collapse;
}
.container{
  border: 1px solid #c8f4ea;
}
.thead{
  background: rgba(153, 247, 106, 0.701);
}
.th{
  padding: 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.td{

  padding: 15px;
  border-bottom: solid 1px  rgba(153, 247, 106, 0.701);;
}

.tr:hover td{
  background: #a3d7f5bb;
}


.h3{

  text-align: center;

  margin-bottom: 5px;

}



.modal{

  position: absolute;

  overflow: hidden;

  max-width: 370px;

  width: 90vw;

  height: 50vh;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

  margin: auto;

  box-shadow: 0 6px 20px rgba(0, 0, 0, .4);

  background-color: white;

}



.divModal{

 text-align: center;

}



